<div class="well">
    <h2>{{title}}</h2>

    <input class="my-form-control" placeholder="Search" ng-model="search">

    <table class="table table-bordered table-hover table-striped table-list">
        <thead>
            <tr>
                <th ng-click="sort('fname')"><span class="glyphicon sort-icon" ng-show="sortKey == 'fname'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></span> First Name</th>
                <th ng-click="sort('lname')"><span class="glyphicon sort-icon" ng-show="sortKey == 'lname'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></span> Last Name</th>
                <th ng-click="sort('lname')"><span class="glyphicon sort-icon" ng-show="sortKey == 'lname'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></span> Role</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees" ng-click="view(employee.userId)">
                <td>{{employee.fName}}</td>
                <td>{{employee.lName}}</td>
                <td>{{employee.role}}</td>
            </tr>
            <tr ng-show="employees.length == 0">
                <td colspan="2">No employees added yet!</td>
            </tr>
        </tbody>
    </table>
    <form name="addemployeeForm">
        <fieldset>
            <div class="form-group">
                <div class="pull-right">
                    <button class="btn btn-primary" ng-click="addemployee()" ng-disabled="addemployeeForm.$invalid"><i class="fa fa-floppy-o"></i> Add</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>